nav {
-webkit-box-shadow: 3px -2px 20px 2px 
rgba(194,190,194,0.79);
-moz-box-shadow: 3px -2px 20px 2px 
rgba(194,190,194,0.79);
box-shadow: 3px -2px 20px 2px rgba(194,190,194,0.79);
font-family: 'Oxygen', sans-serif;
}

nav a {
  color: #191970;
}

footer {
  -webkit-box-shadow: 3px -2px 20px 2px 
  rgba(194,190,194,0.79);
  -moz-box-shadow: 3px -2px 20px 2px 
  rgba(194,190,194,0.79);
  box-shadow: 3px -2px 20px 2px rgba(194,190,194,0.79);
  font-family: 'Oxygen', sans-serif;
}

html, body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:150px; /* this needs to be bigger than footer height*/
}

.footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
} 
