/*NAVBAR STYLES*/
nav {
    -webkit-box-shadow: 3px -2px 20px 2px rgba(194, 190, 194, 0.79);
    -moz-box-shadow: 3px -2px 20px 2px rgba(194, 190, 194, 0.79);
    box-shadow: 3px -2px 20px 2px rgba(194, 190, 194, 0.79);
    padding-top: 7px;
}

body > div > div.sidebar > div > div > span {
    color: #ffffff;
    padding-left: 10px;
    vertical-align: bottom;
    font-size: 1.5em;
}
/*END NAVBAR STYLES*/

/*DATA FILTER STYLES*/
.tags {
  margin: 10px;
}
/*END DATA FILTER STYLES*/



/*TIP EDITOR STYLES*/
button#loadSurvey, button#newSurvey, button#saveSurvey, button#deleteSurvey {
    margin-right: 10px;
    font-size: 11px;
}
div#surveyNames, div#overwrite {
    max-height: 250px;
    overflow-y:scroll;
}
div#saveas {
    text-align: center;
}
/*END TIP EDITOR STYLES*/



/*FACULTY DASHBOARD STYLES*/
.card {
    overflow: hidden;
}

.start-div {
    padding: 20px;
    margin-bottom: 20px;
}

/*END FACULTY DASHBOARD STYLES*/

/*Removes svd properties sidebar*/
.svd_properties {
    display: none !important;
}
